body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
    width: 50vw;
}

.block {
    border: 1px solid black; /* Optional for visibility */
}

.top {
    background-color: #A9A9A9; /* Grey */
    grid-column: span 2;
}

.left {
    background-color: #274A7E; /* Blue */
}

.right {
    background-color: #515A6E; /* Dark grey */
}

.bottom {
    background-color: #3E0003; /* Dark red */
    grid-column: span 2;
}
